body{
    
    text-align: center
}
.row{
  
}

button:focus{
    background: black
}
.Pract{
    background-color: black
}
#row{
    border: 1px black solid
}
.h1{
    font-family: Free Handwritten Font
}