html, body {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.2em;
  }
  
  #page-numbers {
    list-style: none;
    display: flex;
  }
  
  #page-numbers > button {

    color: green;
    user-select: none;
    cursor: pointer;
    font-size: 25px;
    
  }
.buttonS:active{
  color: red
}
.mapDataTable{
  background-color: lightblue;
  height: 5px;
  width: 10;
  overflow-y: scroll;
}
  
.table-responsive{
  overflow: scroll;
  height: 200px;
}
